@import url('https://fonts.googleapis.com/css?family=VT323');

::selection {
    background-color: lime;
    color: black;
}

header {

	height: 20px;
	margin-bottom: 4px;
	padding: 20px 20px 20px 20px;
	font-size: 1.5em;
	font-family: 'VT323', monospace;

}
header > h1 {
	font-size : 3em;
	font-style: italic;
	text-align: right;
}
header > img {
    float: left;
    margin: 0 0 10px 10px;
}

header em {
	font-size: 0.75em
}


html {
	background-color: black;
	color: #44FF44;
	font-family: 'VT323';
	font-size: 32px;
	border: solid 2px lime;
	text-shadow: 0 0 8px #88FF88;
	box-shadow: inset 0 0  8px #88FF88, 0 0  8px #88FF88;
	//filter: blur(0.20px);
}

a{
    color: lime;
}

nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: black;
    margin: 0 0 0 0;
}

nav li {
    float: left;
    border:2px solid lime;
    text-shadow: 0 0 8px #88FF88;
    box-shadow: inset 0 0  8px #88FF88, 0 0  8px #88FF88;
}	

/*
nav li:nth-last-child(-n+4){
    float: right;
    border:2px solid lime;
}
*/

nav li a {
    display: block;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}
nav li a:hover:not(.active) {
    background-color: lime;
    color: black;
}

nav .active {
    background-color: lime;
    color: black;
}
main {
	overflow:auto;
	margin: auto;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
}
#betSpan {
	float: right;

}
#betSection {
	margin: 10px 10px 10px 10px;
}
#buttons {
	width: 600px;
	height: 120px;
	margin: auto;
	margin-top: 10px;
}

.selector {
	float: left;
	margin: 10px;
	width: 100px;
	height: 100px;
	opacity: 0.6;
}

.selector:hover {
	opacity: 1;
}

#results {
	width: 300px;
	height: 180px;
	margin: auto;

}

#results div {
	float:left;
	height: 100px;
	width: 120px;
	margin: 10px 15px;
	text-align: center;
}

#results img {
	margin: 10px;
}

#prompt {
	text-align: center;
	font-size: 35px;
}



#instructions {
	display: inline-block;
	width: 400px;
	margin-left: 20px;
	font-size: 12px;
	border-radius: 8px;
	padding: 0px 5px 15px 15px;
}

#scores {
	width: 190px;
	float: right;
	text-align: right;
	margin-right: 25px;
	margin-top: 10px;
}

#imgwrapper {
	display: block;
	width: 600px;
	height: 400px;
	margin: 40px auto;
	overflow:hidden;
}

#imgbox {
	display: block;
	margin: auto;
}
.clearfix {
    overflow: auto;
}

em {
	font-family: "Times New Roman", Georgia, Serif;
}
footer {
	height: 20px;
	padding: 10px;
	padding-right: 10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;

}
#fspan {
	float: right;
	font-family: 'VT323';
    font-size: 12px;
	color: red;
}
.container1 {
	margin-left: 20px;
	font-size: 0.75em;
	//border: none;
}
legend {
    padding: 1px 8px;
    border-radius: 6px / 12px;
    box-shadow: none;
    font-size: 14px;
    color: lime;
}

form {
    display: block;
    margin-top: 0em;
    border-style: none;
}

fieldset label {
    float: left;
    clear: left;
    padding-top: 2px;
    width: 256px;
    text-align: right;
    font-size: 90%;
    color: lime;
}

fieldset{
    border: solid lime 2px;
    box-shadow: inset 0 0  8px #88FF88, 0 0  8px #88FF88;
}

fieldset input, fieldset textarea, fieldset select {
    padding: 2px 4px;
    border-radius: 2px;
    line-height: 1.1;
    font-family: inherit;
    font-size: 1.1em;
    color: lime;
    text-shadow: 0 0 8px #88FF88;
    background: black;
    border: solid lime 2px;
    box-shadow: inset 0 0  8px #88FF88, 0 0  8px #88FF88;
}
fieldset span {
    display: block;
    margin: 0 0 0 120px;
    padding: 0 0 4px 4px;
    border: solid lime 2px;
}
input[type="submit"], input[type="reset"], input[type="button"] {
    font-family: 'VT323', monospace;
    font-size: 32px;
    padding: 2px 6px;
    //background-image: -webkit-linear-gradient(top,#fff,#dae6f1);
    //background-image: -moz-linear-gradient(top,#fff,#dae6f1);
    //background-image: -ms-linear-gradient(top,#fff,#dae6f1);
    //background-image: linear-gradient(to bottom,#fff,#dae6f1);
    //font-size: 100%;
    color: lime;
    background: black;
    text-shadow: 0 0 8px #88FF88;
    box-shadow: inset 0 0  8px #88FF88, 0 0  8px #88FF88;
    border: solid lime 2px;
}

#passformat {
	float: right;
	width: 50%;
	font-size: 0.8em;
}

table,
th,
td {
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
}

table {
  width: 100%;
}

table,
th,
td {
  border-collapse: collapse;
  border: 2px lime;
}

th,
td {
  padding: 5px;
  text-align: left;
}
table#t01 {
	width:400px;
	margin: auto;
}

table#t01 td {
	border: solid lime 2px;
	box-shadow: inset 0 0  8px #88FF88, 0 0  8px #88FF88;
}

table#t01 tr:nth-child(even) {
}

table#t01 tr:nth-child(odd) {
}

table#t01 th {
}

#t01  tr:hover {
  background-color: lime;
  color: black;
}
caption {
  font-weight: bold;
  padding: 0.5em 0 0.5em 0;
  text-align: left;
}
.btn2 {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: Arial;
  color: lime;
  font-size: 12px;
  background: black;
  padding: 8px 8px 8px 8px;
  text-decoration: none;
}

.btn2:hover {
  background: orange;
  text-decoration: none;
}

.bad {
  background : lime;
  color: black;
  box-shadow: inset 0 0  8px #88FF88, 0 0  8px #88FF88;
}
label{
  //background: black;
  //color: lime;
}

.container{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
}

.middle{
  border: lime;
}

.left{
    flex: 0 0 50%;
    width: 50%;
    color: lime;
    background: black;
    text-shadow: 0 0 8px #88FF88;
    box-shadow: inset 0 0  8px #88FF88, 0 0  8px #88FF88;
    border: solid lime 2px;
}

.right{
    flex: 1;
    width: 50%;
    color: lime;
    background: black;
    text-shadow: 0 0 8px #88FF88;
    box-shadow: inset 0 0  8px #88FF88, 0 0  8px #88FF88;
    border: solid lime 2px;
}


.err{
   border: solid lime 2px;
   background: lime;
   color: black;
   box-shadow: inset 0 0  8px #88FF88, 0 0  8px #88FF88;
}

